* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-thumb {
    background-color: #544B4B;
    border-radius: 10px;
    max-width: 5px;

}

::-webkit-scrollbar-track {
   
    border-radius: 20px;

}

.pagina {
    margin: 0 20% 0 20%;
    /* border: 3px solid black; */
    width: auto;
    min-width: 1200px;
    background-color: rgba(75, 75, 75, 0.124);
    border-radius: 20px;
}

.pagina_principal img {
    padding: 5%;
    background-color: #DEDEDE;
    border-radius: 20px;

    /* border: 3px solid black; */
}

.logo_red {
    background-color: #DEDEDE;
    /* border: 1px solid blue; */
    margin: auto;
}

.logo_red img {
    background-color: #DEDEDE;
    width: 55px;
    padding: 5px;
}

.logo_red a {
    background-color: #DEDEDE;
}

.buscador_div {
    margin: auto;
    border-radius: 20px;
}

.buscador {
    width: 600px;
    height: 40px;
    border-radius: 20px;
    border-color: #FDE9A2;
    padding: 0 0 0 10px;
    background-color: #FFFEDC;
    background-image: url("../img_logo/buscador.png");
    background-repeat: no-repeat;
    background-position: 97%;
    background-size: 40px;
}

/* Color al checkbox */

.container {
    display: block;
    position: relative;
    padding-left: 27px;
    margin-top: 10px;

    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 0.5px solid rgb(143, 122, 83);
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: rgb(229, 240, 154);
    border: 0.5px solid orange;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #ff9e37;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.dropbtn {
    background-color: #77621b;
    border-radius: 5px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;

    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}



.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;

}


.menu {
    margin: 10px 0 10px 0;
    /* border: 1px solid black; */
    display: flex;
    border-radius: 20px;
    background: linear-gradient(0deg, #DEDEDE, #DEDEDE);
    box-shadow: 0px 10px 10px rgba(30, 30, 30, 0.25);
}

.productes_principal {
    display: flex;
    /* border: 1px solid black; */
    max-height: 760px;
    min-height: 760px;
}

.filtrar {
    max-width: 340px;
    min-width: 340px;
    min-height: 600px;
    height: auto;
    background: #EFEEDD;
    margin: 10px 10px 50% 0px;
    border-radius: 20px;
    /* border: 1px solid red; */
    overflow-y: scroll;
}



label:hover {
    background-color: rgb(253, 239, 175);
}





.filtrar h2 {
    padding: 10px;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
}

a.nom_prod_a {
    font-size: 20px;
    text-decoration: none;
    color: black;

}

.filtrar div {
    padding: 0 0 5px 20px;
}

.filtrar a {
    font-size: 20px;
}

.producte2 {

    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}

.producte2 div {
    max-width: 260px;
    max-height: 410px;
    min-width:260px;
    margin: 10px;
    overflow: hidden;
    background: #EBE1E1;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.producte2 div.producte:hover {
    max-width: 260px;
    max-height: 410px;
    margin: 10px;
    overflow: hidden;
    background: #EBE1E1;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.453);
    border-radius: 20px;
}

.filtrar div a {
    margin-bottom: 20px;
}

.producte2 div img {

    border-radius: 20px;
    height: 150px;
    width: 200px;
    margin: 3% 0 0 10%;


}

.producte2 div img:hover {

    border-radius: 20px;
    height: 150px;
    width: 200px;
    margin: 3% 0 0 10%;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

div .preu2 {
    width: 80px;
    border-radius: 0%;
    box-shadow: 0 0 0 0;
    display: flex;
}

div .descripcio {
    width: auto;
    height: 95px;
    border-radius: 0%;
    box-shadow: 0 0 0 0;

}

div .quantitat {
    width: auto;
    border-radius: 0%;
    box-shadow: 0 0 0 0;
    display: flex;
}

div .material {
    width: auto;

    border-radius: 0%;
    box-shadow: 0 0 0 0;
    display: flex;
}

div .categoria {
    width: auto;
    border-radius: 0%;
    box-shadow: 0 0 0 0;
    display: flex;
}

img.producteNoTrobat {
    width: 500px;
    height: 500px;

}

footer {
    border-top: 4px solid rgb(79, 71, 71);
    height: 200px;
    width: auto;
    background: #E9E1E1;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

footer div {
    padding: 0 40px;
    overflow: hidden;
}

.informacio_empresa {
    width: 430px;
    margin: 20px;
}

.informacio_empresa p {
    padding: 10px;
}

.mySlides_fade img {
    max-width: 300px;
    max-height: 200px;
    min-width: 300px;
    min-height: 200px;
    border-radius: 20px;

}

iframe {
    width: auto;
    height: 190px;
    border-radius: 20px;
}

.dot {
    display: none;
}

#price_range {
    max-width: 80%;
}





/* pagina de cada porducte */
div.informacio_producte {
    display: flex;
    width: auto;
    height: auto;

}

img.imatge_producte {
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 400px;
    margin: 0 20px 0 20px;
}
div.productes_semblants{
    box-shadow:  0 8px 16px 0  rgba(0, 0, 0, 0.768);
    border: 0.3px solid rgba(255, 132, 0, 0.549);
    height: auto;
    border-radius: 10px;
    display: flex;
    margin: 0 20px ;
}

div.informacio_producte_semblant img{
    width: 190px;
    height: 140px;
    border-radius: 10px;

}
div.informacio_producte_semblant{
    margin:5px;
    box-shadow:   0px 0px 8px 8px  rgba(0, 0, 0, 0.282);
    border-radius: 10px;
    /* border: 1px solid red; */
    width: 200px;
    height: 100%;
    
}
h2.producte_semblant{
    margin: 20px 0 5px 20px;
    
}

#loading {

    background: url('../loader.gif') no-repeat center;
    height: 300px;
    min-width: 300px;

}

